body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

button.delete {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  button.delete:hover {
    background-color: #e60000;
  }
  

  button.update {
    background-color: #4c8bf5;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  button.update:hover {
    background-color: #3b73cc;
  }
  